.nav{
  margin: 1em;
  a{
    margin: 1em;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 2em;
  }
}

.Cars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    height: 80vh;
    font-size: 20px;
    .category{
      .btn{
        width: 5rem;
        height: 2rem;
        margin: 0.3rem;
        border: none;
        &:hover{
          background-color: rgb(212, 210, 210);
          cursor: pointer;
        }
        &:active{
          outline: none;
          border: none;
          background-color: rgb(181, 176, 176);
        }
      }
    }
  .years {
    display: flex;
    gap: 10px;
    margin: 10px;
    .all{
      cursor: pointer;
    }
  }
  .brand-filter {
    display: flex;
    margin: 15px;
  }
  .brand-input {
    width: 80px;
    margin: 0 10px;
    height: 30px;
  }
  .filter,
  .active {
    padding: 10px 20px;
    min-width: 50px;
    border-radius: 2rem;
  }
  .filter:hover,
  .active {
    background-color: #9ea8a5;
    color: rgb(96, 90, 90);
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.1s;
  }

  .cars {
    display: grid;
    gap: 20px;
    min-height: 480px;
    grid-template-columns: repeat(3, 1fr);
  }
  .car {
    display: flex;
    height: 200px;
    flex-direction: column;
    background-color: #fafafa;
    border: 1px solid black;
    padding: 10px;
    gap: 5px;
    color: black;
  }
  img {
    width: 200px;
    height: 180px;
  }

  }